<div id="start_page_start_modal" class="w3-modal" style="display:block;">
	<div class="w3-modal-content w3-card-4 w3-light-grey w3-round-large" style="width: 400px; overflow: hidden;">

		<div class="w3-center w3-indigo w3-xlarge w3-padding-16" style="font-weight: bold;">
			<header>PLAY RISK</header>
		</div>

		<div class="w3-light-grey w3-row" style=" padding-top: 20px; padding-left: 50px;">
			<div class="w3-col" style="width: 80px; padding-top: 5px;">
				PLAYER 1
			</div>
			<select id="start_page_p1_type" class="w3-col w3-btn w3-white w3-round-large w3-border" style="width: 200px; padding-right: 20px;">
				<option id="spsm_p1_o1" value="human">human</option>
				<option id="spsm_p1_o2" value="passive">passive</option>
				<option id="spsm_p1_o3" value="aggressive">aggressive</option>
				<option id="spsm_p1_o4" value="pacifist">pacifist</option>
				<option id="spsm_p1_o5" value="rt-astar">real-time A*</option>
				<option id="spsm_p1_o6" value="greedy">greedy</option>
				<option id="spsm_p1_o7" value="astar">A*</option>
			</select>
		</div>

		<div class="w3-light-grey w3-row" style=" padding-top: 20px; padding-left: 50px;">
			<div class="w3-col" style="width: 80px; padding-top: 5px;">
				PLAYER 2
			</div>
			<select id="start_page_p2_type" class="w3-col w3-btn w3-white w3-round-large w3-border" style="width: 200px; padding-right: 20px;">
				<option id="spsm_p2_o1" value="human">human</option>
				<option id="spsm_p2_o2" value="passive">passive</option>
				<option id="spsm_p2_o3" value="aggressive">aggressive</option>
				<option id="spsm_p2_o4" value="pacifist">pacifist</option>
				<option id="spsm_p2_o5" value="rt-astar">real-time A*</option>
				<option id="spsm_p2_o6" value="greedy" disabled>greedy</option>
				<option id="spsm_p2_o7" value="astar" disabled>A*</option>
			</select>
		</div>

		<div class="w3-center" style="padding-top: 30px; padding-bottom: 30px;">
			<button id="start_page_new_game_btn" class="w3-btn w3-indigo w3-round-xlarge" style="">
				Start Game
			</button>
		</div>
		
	<div>
</div>
