<div id="start_page_start_modal" class="w3-modal" style="display:block;">
	<div class="w3-modal-content w3-card-4 w3-light-grey w3-round-large" style="width: 400px; overflow: hidden;">

		<div class="w3-center w3-indigo w3-xlarge w3-padding-16" style="font-weight: bold;">
			<header>PLAY RISK</header>
		</div>

		<div class="w3-light-grey" style=" padding-top: 20px; padding-left: 50px;">
			PLAYER 1
			<select id="start_page_p1_type" class="w3-btn w3-white w3-round-large w3-border" style="width: 200px; padding-right: 20px;">
				<option value="human">human</option>
				<option value="passive">passive</option>
				<option value="aggressive">aggressive</option>
				<option value="pacifist">pacifist</option>
			</select>
		</div>

		<div class="w3-light-grey" style=" padding-top: 20px; padding-left: 50px;">
			PLAYER 2
			<select id="start_page_p2_type" class="w3-btn w3-white w3-round-large w3-border" style="width: 200px; padding-right: 20px;">
				<option value="human">human</option>
				<option value="passive">passive</option>
				<option value="aggressive">aggressive</option>
				<option value="pacifist">pacifist</option>
			</select>
		</div>

		<div class="w3-center" style="padding-top: 30px; padding-bottom: 30px;">
			<button id="start_page_new_game_btn" class="w3-btn w3-indigo w3-round-xlarge" style="">
				Start Game
			</button>
		</div>
		
	<div>
</div>
