<!-- side tabs -->
<nav class="w3-sidenav w3-card-2 w3-light-grey" style="width:250px; font-size: 16px;">
	<!-- logo -->
	<div class="w3-indigo w3-xxlarge w3-center"
		style="padding-top: 40px; padding-bottom: 40px; font-weight: bold;">
		RISK
	</div>
  
  	<!-- control panel -->
  	<div class="w3-container" style="padding-left: 20px; color: #3D3D3D;">


  		<!-- game players info -->
  		<!-- ***************** -->
  		<div style="padding-top: 20px; padding-bottom: 7px; border-bottom-style: solid; border-color: grey; border-width: 1px;">
  			 
  			<div style="font-weight: bold; padding-bottom: 5px;">
				Game Players
			</div>

			<div class="w3-row w3-padding-4">
				<div class="w3-col" style="width: 90px; font-weight: bold;">player 1 : </div>
				<div id="gameplay_page_control_panel_p1_type">none</div>
			</div>

			<div class="w3-row w3-padding-4">
				<div class="w3-col" style="width: 90px; font-weight: bold;">player 2 : </div>
				<div id="gameplay_page_control_panel_p2_type">none</div>
			</div>

  		</div>


  		<!-- game players info -->
  		<!-- ***************** -->
  		<div style="padding-top: 10px; padding-bottom: 7px; border-bottom-style: solid; border-color: grey; border-width: 1px;">
  			 
  			<div style="font-weight: bold; padding-bottom: 5px;">
				Reserve Troops
			</div>

			<div class="w3-row w3-padding-4">
				<div class="w3-col" style="width: 90px; font-weight: bold;">player 1 : </div>
				<div id="gameplay_page_control_panel_p1_reserve">none</div>
			</div>

			<div class="w3-row w3-padding-4">
				<div class="w3-col" style="width: 90px; font-weight: bold;">player 2 : </div>
				<div id="gameplay_page_control_panel_p2_reserve">none</div>
			</div>

  		</div>


  		<!-- game status info -->
  		<!-- **************** -->
  		<div style="padding-top: 10px; padding-bottom: 7px; border-bottom-style: solid; border-color: grey; border-width: 1px;">
  			 
  			<div style="font-weight: bold; padding-bottom: 5px;">
				Game Status
			</div>

			<div class="w3-row w3-padding-4">
				<div class="w3-col" style="width: 90px; font-weight: bold;">turn &emsp; &ensp; : </div>
				<div id="gameplay_page_control_panel_player_turn">P1</div>
			</div>

			<div class="w3-row w3-padding-4">
				<div class="w3-col" style="width: 90px; font-weight: bold;">status &nbsp; &nbsp;: </div>
				<div id="gameplay_page_control_panel_game_status">OnGoing</div>
			</div>

  		</div>


  		<!-- controls for human players -->
  		<!-- ************************** -->
  		<div id="gameplay_page_control_panel_human_controls" style="padding-top: 10px; display: none;">
  			 
  			<div style="font-weight: bold; padding-bottom: 5px;">
				Human Action
			</div>

			<div class="w3-row">

				<div id="gameplay_page_control_panel_from_country_input" class="w3-col w3-padding-4" style="width: 95px;">
					<div class="w3-row">
						<div class="w3-col" style="width: 50px; text-align: center;">from</div>
						<input class="w3-col" style="width: 40px;" type="number" id="gameplay_page_control_panel_from_country_id" />
					</div>
				</div>

				<div id="gameplay_page_control_panel_to_country_input" class="w3-col w3-padding-4" style="width: 100px;">
					<div class="w3-row">
						<div class="w3-col" style="width: 30px; text-align: center;">to</div>
						<input class="w3-col" style="width: 40px;" type="number" id="gameplay_page_control_panel_to_country_id" />
					</div>
				</div>

			</div>

			<div class="w3-row">
				<div id="gameplay_page_control_panel_troops_count_input" class="w3-col w3-padding-4" style="width: 95px;">
					<div class="w3-row">
						<div class="w3-col" style="width: 50px; text-align: center;">count</div>
						<input class="w3-col" style="width: 40px;" type="number" id="gameplay_page_control_panel_troops_count_val" />
					</div>
				</div>
			</div>

			<div class="w3-row">
				<button id="gameplay_page_control_panel_human_deploy_btn"
					class="w3-col w3-btn w3-green w3-round-medium"
					style="width: 60px; height: 27px; padding-left: 7px; padding-top: 0px; margin-top: 10px;">
					deploy
				</button>
				<button id="gameplay_page_control_panel_human_march_btn"
					class="w3-col w3-btn w3-green w3-round-medium"
					style="width: 60px; height: 27px; padding-left: 8px; padding-top: 0px; margin-top: 10px;">
					march
				</button>
				<button id="gameplay_page_control_panel_human_invade_btn"
					class="w3-col w3-btn w3-green w3-round-medium"
					style="width: 60px; height: 27px; padding-left: 8px; padding-top: 0px; margin-top: 10px;">
					invade
				</button>
				<button id="gameplay_page_control_panel_human_skip_march_btn"
					class="w3-col w3-btn w3-red w3-round-medium"
					style="width: 60px; height: 27px; padding-left: 16px; padding-top: 0px; margin-top: 10px; margin-left: 10px;">
					skip
				</button>
				<button id="gameplay_page_control_panel_human_skip_invade_btn"
					class="w3-col w3-btn w3-red w3-round-medium"
					style="width: 60px; height: 27px; padding-left: 16px; padding-top: 0px; margin-top: 10px; margin-left: 10px;">
					skip
				</button>
			</div>

  		</div>
  		
  	</div>
	
</nav>